In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\prana\anaconda3\lib\site-packages (1.26.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd

In [3]:
movies = pd.read_csv('../Dataset/tmdb_5000_movies.csv')
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [4]:
credits = pd.read_csv('../Dataset/tmdb_5000_credits.csv') 
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [5]:
# Highly Imbalance as most of the movie are in English
movies['original_language'].value_counts()

original_language
en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

## Drop Unwanted Columns

In [6]:
movies = movies[['id','title','keywords','genres','overview','production_companies']]
movies.head(2)

,id,title,keywords,genres,overview,production_companies
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."

## Merge Both the DataSet

In [7]:
movies = movies.merge(credits,on='title')
movies.head(2)

,id,title,keywords,genres,overview,production_companies,movie_id,cast,crew
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4809 non-null   int64
 1   title                 4809 non-null   object
 2   keywords              4809 non-null   object
 3   genres                4809 non-null   object
 4   overview              4806 non-null   object
 5   production_companies  4809 non-null   object
 6   movie_id              4809 non-null   int64
 7   cast                  4809 non-null   object
 8   crew                  4809 non-null   object
dtypes: int64(2), object(7)
memory usage: 338.3+ KB

## Handeling Null Values

In [9]:
movies.isnull().any()

id                      False
title                   False
keywords                False
genres                  False
overview                 True
production_companies    False
movie_id                False
cast                    False
crew                    False
dtype: bool

In [10]:
movies.isnull().sum()

id                      0
title                   0
keywords                0
genres                  0
overview                3
production_companies    0
movie_id                0
cast                    0
crew                    0
dtype: int64

In [11]:
movies.dropna(axis=0, inplace=True)
movies.reset_index(drop=True, inplace=True)

In [12]:
movies.shape

(4806, 9)

## Check for Duplicates

In [13]:
movies.duplicated().sum()

0

## Feature Engineering

In [14]:
movies.head(2)

,id,title,keywords,genres,overview,production_companies,movie_id,cast,crew
0,19995,Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [15]:
movies['keywords'].iloc[0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [16]:
import json

# Convert JSON string to Python list
keywords = json.loads(movies['keywords'].iloc[0])

# Print the resulting list
print(keywords)

[{'id': 1463, 'name': 'culture clash'}, {'id': 2964, 'name': 'future'}, {'id': 3386, 'name': 'space war'}, {'id': 3388, 'name': 'space colony'}, {'id': 3679, 'name': 'society'}, {'id': 3801, 'name': 'space travel'}, {'id': 9685, 'name': 'futuristic'}, {'id': 9840, 'name': 'romance'}, {'id': 9882, 'name': 'space'}, {'id': 9951, 'name': 'alien'}, {'id': 10148, 'name': 'tribe'}, {'id': 10158, 'name': 'alien planet'}, {'id': 10987, 'name': 'cgi'}, {'id': 11399, 'name': 'marine'}, {'id': 13065, 'name': 'soldier'}, {'id': 14643, 'name': 'battle'}, {'id': 14720, 'name': 'love affair'}, {'id': 165431, 'name': 'anti war'}, {'id': 193554, 'name': 'power relations'}, {'id': 206690, 'name': 'mind and soul'}, {'id': 209714, 'name': '3d'}]

In [17]:
l=[]
keywords[0]['name']

'culture clash'

In [18]:
keywords[0]['name'].replace(" ","")

'cultureclash'

In [19]:
def convert(text):
    L=[]
    data=json.loads(text)
    for i in range(len(data)):
        L.append(data[i]['name'].replace(" ","").lower())
    return L

In [20]:
# Each Cell Data are one by one tranfar to the Function
movies['keywords'] = movies['keywords'].apply(convert)
movies.head(2)

,id,title,keywords,genres,overview,production_companies,movie_id,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [21]:
movies['genres'].iloc[0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [22]:
movies['genres'] = movies['genres'].apply(convert)
movies.head(2)

,id,title,keywords,genres,overview,production_companies,movie_id,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[action, adventure, fantasy, sciencefiction]","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[adventure, fantasy, action]","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [23]:
movies['cast'].iloc[0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

## From "cast" we will take first 4 Actors

In [24]:
def cast_convert(text):
    L=[]
    count=0
    data=json.loads(text)
    for i in range(len(data)):
        if count==4:
            break
        L.append(data[i]['name'].replace(" ","").lower())
        count=count+1;
    return L

In [25]:
movies['cast'] = movies['cast'].apply(cast_convert)
movies.head(2)

,id,title,keywords,genres,overview,production_companies,movie_id,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[action, adventure, fantasy, sciencefiction]","In the 22nd century, a paraplegic Marine is di...","[{""name"": ""Ingenious Film Partners"", ""id"": 289...",19995,"[samworthington, zoesaldana, sigourneyweaver, ...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[adventure, fantasy, action]","Captain Barbossa, long believed to be dead, ha...","[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",285,"[johnnydepp, orlandobloom, keiraknightley, ste...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [26]:
movies['cast'].iloc[0],movies['cast'].iloc[1]

(['samworthington', 'zoesaldana', 'sigourneyweaver', 'stephenlang'],
 ['johnnydepp', 'orlandobloom', 'keiraknightley', 'stellanskarsgård'])

In [27]:
movies['production_companies'].iloc[0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [28]:
movies['production_companies'] = movies['production_companies'].apply(convert)
movies.head(2)

,id,title,keywords,genres,overview,production_companies,movie_id,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[action, adventure, fantasy, sciencefiction]","In the 22nd century, a paraplegic Marine is di...","[ingeniousfilmpartners, twentiethcenturyfoxfil...",19995,"[samworthington, zoesaldana, sigourneyweaver, ...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[adventure, fantasy, action]","Captain Barbossa, long believed to be dead, ha...","[waltdisneypictures, jerrybruckheimerfilms, se...",285,"[johnnydepp, orlandobloom, keiraknightley, ste...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [29]:
movies.drop("movie_id",axis=1,inplace=True)
movies.head(2)

,id,title,keywords,genres,overview,production_companies,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[action, adventure, fantasy, sciencefiction]","In the 22nd century, a paraplegic Marine is di...","[ingeniousfilmpartners, twentiethcenturyfoxfil...","[samworthington, zoesaldana, sigourneyweaver, ...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[adventure, fantasy, action]","Captain Barbossa, long believed to be dead, ha...","[waltdisneypictures, jerrybruckheimerfilms, se...","[johnnydepp, orlandobloom, keiraknightley, ste...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

## Handeling "crew" Column

In [30]:
movies['crew'].iloc[0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

### We Need to Extract Director name, means we need to extract name where job type is "Director"

In [31]:
def crew_convert(text):
    L=[]
    data=json.loads(text)
    for i in range(len(data)):
        if (data[i]['job']=='Director'):
            L.append(data[i]['name'].replace(" ","").lower())
    return L

In [32]:
movies['crew'] = movies['crew'].apply(crew_convert)
movies.head(2)

,id,title,keywords,genres,overview,production_companies,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[action, adventure, fantasy, sciencefiction]","In the 22nd century, a paraplegic Marine is di...","[ingeniousfilmpartners, twentiethcenturyfoxfil...","[samworthington, zoesaldana, sigourneyweaver, ...",[jamescameron]
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[adventure, fantasy, action]","Captain Barbossa, long believed to be dead, ha...","[waltdisneypictures, jerrybruckheimerfilms, se...","[johnnydepp, orlandobloom, keiraknightley, ste...",[goreverbinski]

In [33]:
movies['crew'].iloc[0],movies['crew'].iloc[1]

(['jamescameron'], ['goreverbinski'])

### Handeling "overview" Column

In [34]:
def overview_convert(text):
    return text.lower().split()

In [35]:
movies['overview'] = movies['overview'].apply(overview_convert)
movies.head(2)

,id,title,keywords,genres,overview,production_companies,cast,crew
0,19995,Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[action, adventure, fantasy, sciencefiction]","[in, the, 22nd, century,, a, paraplegic, marin...","[ingeniousfilmpartners, twentiethcenturyfoxfil...","[samworthington, zoesaldana, sigourneyweaver, ...",[jamescameron]
1,285,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad...","[adventure, fantasy, action]","[captain, barbossa,, long, believed, to, be, d...","[waltdisneypictures, jerrybruckheimerfilms, se...","[johnnydepp, orlandobloom, keiraknightley, ste...",[goreverbinski]

### Create a New Column "tag"

In [36]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']+movies['production_companies']

In [37]:
movies_new = movies.drop(columns=['overview','genres','keywords','cast','crew','production_companies'])
movies_new.head()

,id,title,tags
0,19995,Avatar,"[in, the, 22nd, century,, a, paraplegic, marin..."
1,285,Pirates of the Caribbean: At World's End,"[captain, barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[a, cryptic, message, from, bond’s, past, send..."
3,49026,The Dark Knight Rises,"[following, the, death, of, district, attorney..."
4,49529,John Carter,"[john, carter, is, a, war-weary,, former, mili..."

In [38]:
movies['tags'][0]

['in',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'action',
 'adventure',
 'fantasy',
 'sciencefiction',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'samworthington',
 'zoesaldana',
 'sigourneyweaver',
 'stephenlang',
 'jamescameron',
 'ingeniousfilmpartners',
 'twentiethcenturyfoxfilmcorporation',
 'duneentertainment',
 'lightstormentertainment']

.apply(lambda x: " ".join(x)): This applies a lambda function to each element in the 'tags' column. The lambda function takes a list x and joins its elements into a single string using the join method with a space as the separator.

input--> ['action', 'adventure', 'sci-fi']
output-->'action adventure sci-fi'

In [39]:
movies_new['tags'] = movies_new['tags'].apply(lambda x: " ".join(x))
movies_new.head(2)

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

In [40]:
movies_new['tags'].iloc[0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver stephenlang jamescameron ingeniousfilmpartners twentiethcenturyfoxfilmcorporation duneentertainment lightstormentertainment'

In [41]:
movies_new['tags'].iloc[1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley stellanskarsgård goreverbinski waltdisneypictures jerrybruckheimerfilms secondmateproductions"

## Remove Stop Words from the tags

In [42]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\prana\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\prana\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [43]:
def remove_stopwords(input_string):
    stop_words = set(stopwords.words('english'))
    words = word_tokenize(input_string)
    filtered_words = [word for word in words if word.lower() not in stop_words]
    return ' '.join(filtered_words)

In [44]:
movies_new['tags']=movies_new['tags'].apply(remove_stopwords)
movies_new.head(3)

,id,title,tags
0,19995,Avatar,"22nd century , paraplegic marine dispatched mo..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa , long believed dead , come b..."
2,206647,Spectre,cryptic message bond ’ past sends trail uncove...

## Apply Steemer on the tags

In [45]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [46]:
ps.stem('action'),ps.stem('actioned'),ps.stem('actions'),ps.stem('actioning')

('action', 'action', 'action', 'action')

In [47]:
ps.stem('dance'),ps.stem('dancing'),ps.stem('danced')

('danc', 'danc', 'danc')

In [48]:
def stem_text(text):
    y=[]
    for i in text.split():
        stem_word=ps.stem(i)
        y.append(stem_word)

    # Convert List into a String
    return " ".join(y)

In [49]:
movies_new['tags']=movies_new['tags'].apply(stem_text)
movies_new.head(3)

,id,title,tags
0,19995,Avatar,"22nd centuri , parapleg marin dispatch moon pa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa , long believ dead , come bac..."
2,206647,Spectre,cryptic messag bond ’ past send trail uncov si...

### We have to Calculate the Similarity Score between the Two text
1. We can count Number of similar words in order to know how much both the movie are related
2. or Perform Vecterization

## 1. Count Number of Common Word between two Movies

In [50]:
def common_word_count(str1, str2, i):
    
    # Tokenize the strings into words
    words1 = set(str1.split())
    words2 = set(str2.split())
    
    # Find the intersection of the two sets
    common_words = words1.intersection(words2)
    
    # Calculate the count of common words
    count_common_words = len(common_words)
    
    return count_common_words

### Generate a Random Movie Index (Methode 1)

In [51]:
import random

random_movie = random.randint(0, 4805)
print(random_movie)

3510

In [52]:
movies_new.iloc[random_movie]

id                                                   35689
title                                            Don McKay
tags     everyth appear off-kilt man return hometown 25...
Name: 3510, dtype: object

In [53]:
movies_new.iloc[random_movie]
movies_new[movies_new.index==random_movie]

         id      title                                               tags
3510  35689  Don McKay  everyth appear off-kilt man return hometown 25...

In [54]:
movies_new['tags'].iloc[random_movie]

'everyth appear off-kilt man return hometown 25 year visit former lover . crime mysteri thriller independentfilm thomashadenchurch elisabethshu melissaleo m.emmetwalsh jakegoldberg animusfilm'

### Search Movie by Name (Methode 2)

In [55]:
movie_name='Avatar'
movies_new[movies_new['title']==movie_name]

      id   title                                               tags
0  19995  Avatar  22nd centuri , parapleg marin dispatch moon pa...

In [56]:
movies_new[movies_new['title']==movie_name].index[0]

0

In [57]:
random_movie=movies_new[movies_new['title']==movie_name].index[0]

In [58]:
movies_new['tags'].iloc[random_movie]

'22nd centuri , parapleg marin dispatch moon pandora uniqu mission , becom torn follow order protect alien civil . action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang jamescameron ingeniousfilmpartn twentiethcenturyfoxfilmcorpor duneentertain lightstormentertain'

## Recommendation

In [59]:
# Initialize a list to store dictionaries with movie names and counts
similarities = []
for i in range(0,4805):
    if i!=random_movie:
        word_count=common_word_count(movies_new['tags'].iloc[i],movies_new['tags'].iloc[random_movie],i)
        # Create a dictionary with movie name and count of common words
        similarity_dict = {'name':movies_new['title'].iloc[i] , 'count': word_count}
        # Append the dictionary to the list
        similarities.append(similarity_dict)
        
# Sort the list based on the count in descending order
similarities.sort(key=lambda x: x['count'], reverse=True)

# Take the top five movies
top_five_movies = similarities[:10]

# Print the result
print(top_five_movies)

[{'name': 'Star Trek Into Darkness', 'count': 11}, {'name': 'Aliens', 'count': 11}, {'name': 'Jupiter Ascending', 'count': 10}, {'name': 'Independence Day', 'count': 10}, {'name': 'Predators', 'count': 10}, {'name': 'Aliens vs Predator: Requiem', 'count': 10}, {'name': 'John Carter', 'count': 9}, {'name': 'Green Lantern', 'count': 9}, {'name': 'Captain America: The Winter Soldier', 'count': 9}, {'name': 'X-Men Origins: Wolverine', 'count': 9}]

### We need Only Name of the Movie

In [60]:
for i in range(0,10):
     print(similarities[i]['name'])

Star Trek Into Darkness
Aliens
Jupiter Ascending
Independence Day
Predators
Aliens vs Predator: Requiem
John Carter
Green Lantern
Captain America: The Winter Soldier
X-Men Origins: Wolverine

### 2. Convert text to vector (Vecterization)

In [61]:
movies_new['tags'].iloc[0]

'22nd centuri , parapleg marin dispatch moon pandora uniqu mission , becom torn follow order protect alien civil . action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav stephenlang jamescameron ingeniousfilmpartn twentiethcenturyfoxfilmcorpor duneentertain lightstormentertain'

In [62]:
movies_new['tags'].iloc[1]

"captain barbossa , long believ dead , come back life head edg earth turner elizabeth swann . noth quit seem . adventur fantasi action ocean drugabus exoticisland eastindiatradingcompani loveofone'slif traitor shipwreck strongwoman ship allianc calypso afterlif fighter pirat swashbuckl aftercreditssting johnnydepp orlandobloom keiraknightley stellanskarsgård goreverbinski waltdisneypictur jerrybruckheimerfilm secondmateproduct"

### We have to Compare two movies on the basis of their "tags", So We convert "tags" of the movie into a vector in order two calculate Similarity Score between individual movies

In [63]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [64]:
# Here we take all the movie tags and from that we Will extract 5000 most frequent Words
# tags 1 + tags2 + tags3 + tags4 + ............(All Movies tags(4806 movies))
vector = cv.fit_transform(movies_new['tags']).toarray()

In [65]:
# Shape---> (Total Number of movies X Total Number of Most Common Words)
vector.shape

(4806, 5000)

In [66]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [67]:
# It is For Movie "Avatar", It contain lots of Zero's because all 5000 words are can't be present in single movie.
vector[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [68]:
# It is For Movie "Batman Begins", It contain lots of Zero's because all 5000 words are can't be present in single movie.
vector[119]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [69]:
# Numeric value may represent movies of 1930s or 1920s
# 5000 most frequent Words
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [70]:
# 5000 most frequent Words
len(cv.get_feature_names_out())

5000

In [71]:
from sklearn.metrics.pairwise import cosine_similarity

In [72]:
# Here We have Total 4806 movie 
# Here we find Cosine Similarity between a Particular movie and all other movie
# Thats why size of the matrix becomes 4806 X 4806
cosine_similarity(vector).shape

(4806, 4806)

In [73]:
similarity_matrix = cosine_similarity(vector)
similarity_matrix

array([[1.        , 0.07808688, 0.07919455, ..., 0.06205716, 0.02328101,
        0.        ],
       [0.07808688, 1.        , 0.05634362, ..., 0.02207554, 0.        ,
        0.        ],
       [0.07919455, 0.05634362, 1.        , ..., 0.04477737, 0.        ,
        0.        ],
       ...,
       [0.06205716, 0.02207554, 0.04477737, ..., 1.        , 0.05923489,
        0.04039786],
       [0.02328101, 0.        , 0.        , ..., 0.05923489, 1.        ,
        0.04546629],
       [0.        , 0.        , 0.        , ..., 0.04039786, 0.04546629,
        1.        ]])

In [74]:
# It is For Movie "Avatar", Cosine Similarity between movie "Avatar" and All other Movies
similarity_matrix[0]

array([1.        , 0.07808688, 0.07919455, ..., 0.06205716, 0.02328101,
       0.        ])

In [75]:
# It is For Movie "Batman Begins", Cosine Similarity between movie "Batman Begins" and All other Movies
similarity_matrix[1]

array([0.07808688, 1.        , 0.05634362, ..., 0.02207554, 0.        ,
       0.        ])

In [76]:
# Enumerate the array to get both Cosine_Similarity_values and indices
enumerated_array = list(enumerate(similarity_matrix[1]))
enumerated_array

[(0, 0.07808688094430304),
 (1, 1.0000000000000002),
 (2, 0.0563436169819011),
 (3, 0.018294043331615058),
 (4, 0.09622504486493763),
 (5, 0.10849075915068657),
 (6, 0.03849001794597504),
 (7, 0.1414213562373095),
 (8, 0.05892556509887895),
 (9, 0.08753762190648169),
 (10, 0.07808688094430304),
 (11, 0.07216878364870322),
 (12, 0.4789474720713996),
 (13, 0.12803687993289598),
 (14, 0.10411584125907071),
 (15, 0.09072184232530289),
 (16, 0.07715167498104596),
 (17, 0.2894143807081531),
 (18, 0.060633906259083235),
 (19, 0.09820927516479827),
 (20, 0.07231015260621872),
 (21, 0.05555555555555555),
 (22, 0.05892556509887895),
 (23, 0.08703882797784893),
 (24, 0.13344012817090595),
 (25, 0.10482848367219183),
 (26, 0.09938079899999065),
 (27, 0.08679260732054925),
 (28, 0.05555555555555555),
 (29, 0.043396303660274624),
 (30, 0.11446713662390752),
 (31, 0.09284766908852593),
 (32, 0.10257624248277726),
 (33, 0.08451542547285165),
 (34, 0.06189844605901729),
 (35, 0.08333333333333333),
 (36, 0.0629940788348712),
 (37, 0.07715167498104596),
 (38, 0.10105651043180539),
 (39, 0.08219949365267865),
 (40, 0.10540925533894598),
 (41, 0.06804138174397717),
 (42, 0.0222717701593687),
 (43, 0.045360921162651446),
 (44, 0.03268602252303067),
 (45, 0.06154574548966636),
 (46, 0.10286889997472794),
 (47, 0.08084520834544431),
 (48, 0.10180787029692101),
 (49, 0.027777777777777776),
 (50, 0.13699915608779772),
 (51, 0.03849001794597504),
 (52, 0.07453559924999299),
 (53, 0.0668153104781061),
 (54, 0.06085806194501845),
 (55, 0.08735706972682653),
 (56, 0.06666666666666667),
 (57, 0.10540925533894598),
 (58, 0.08989331499509895),
 (59, 0.0878410461157883),
 (60, 0.0),
 (61, 0.12830005981991682),
 (62, 0.10910894511799618),
 (63, 0.044946657497549475),
 (64, 0.027399831217559546),
 (65, 0.01911797782254681),
 (66, 0.11556254088025605),
 (67, 0.05479966243511909),
 (68, 0.09128709291752768),
 (69, 0.0629940788348712),
 (70, 0.050251890762960605),
 (71, 0.09938079899999065),
 (72, 0.10166571355506977),
 (73, 0.030949223029508643),
 (74, 0.022893427324781505),
 (75, 0.15811388300841897),
 (76, 0.047619047619047616),
 (77, 0.0549857399228215),
 (78, 0.07293249574894728),
 (79, 0.11904761904761904),
 (80, 0.0335012605086404),
 (81, 0.09147021665807528),
 (82, 0.024310831916315757),
 (83, 0.06933752452815364),
 (84, 0.0802572353905128),
 (85, 0.11495508245250086),
 (86, 0.04914731871829904),
 (87, 0.05555555555555555),
 (88, 0.11433239009500587),
 (89, 0.02923526731023431),
 (90, 0.1217161238900369),
 (91, 0.13518451760896877),
 (92, 0.06509445549041193),
 (93, 0.046225016352102424),
 (94, 0.14291548761875733),
 (95, 0.045360921162651446),
 (96, 0.07808688094430304),
 (97, 0.09428090415820634),
 (98, 0.12422599874998831),
 (99, 0.053376051268362375),
 (100, 0.03268602252303067),
 (101, 0.04914731871829904),
 (102, 0.041666666666666664),
 (103, 0.12499999999999999),
 (104, 0.1388888888888889),
 (105, 0.12830005981991682),
 (106, 0.10499013139145198),
 (107, 0.06108472217815261),
 (108, 0.04578685464956301),
 (109, 0.17010345435994292),
 (110, 0.04578685464956301),
 (111, 0.07142857142857142),
 (112, 0.050251890762960605),
 (113, 0.047619047619047616),
 (114, 0.047619047619047616),
 (115, 0.09335200560186731),
 (116, 0.023112508176051212),
 (117, 0.08451542547285165),
 (118, 0.03300491809922248),
 (119, 0.043033148291193514),
 (120, 0.0),
 (121, 0.10050378152592121),
 (122, 0.10814761408717502),
 (123, 0.043768810953240846),
 (124, 0.0890870806374748),
 (125, 0.028903665650803996),
 (126, 0.10814761408717502),
 (127, 0.1125087900926024),
 (128, 0.05270462766947299),
 (129, 0.14586499149789456),
 (130, 0.05892556509887895),
 (131, 0.13176156917368248),
 (132, 0.06509445549041193),
 (133, 0.05892556509887895),
 (134, 0.06189844605901729),
 (135, 0.0),
 (136, 0.06933752452815364),
 (137, 0.01642215463607155),
 (138, 0.14433756729740646),
 (139, 0.07968190728895957),
 (140, 0.023570226039551584),
 (141, 0.029934217004462485),
 (142, 0.08451542547285165),
 (143, 0.1058334391668254),
 (144, 0.05143444998736397),
 (145, 0.06154574548966636),
 (146, 0.015089291007086421),
 (147, 0.05555555555555555),
 (148, 0.06189844605901729),
 (149, 0.08268982305947231),
 (150, 0.07911877721292354),
 (151, 0.06415002990995841),
 (152, 0.08333333333333333),
 (153, 0.03984095364447979),
 (154, 0.030429030972509225),
 (155, 0.0),
 (156, 0.04042260417272216),
 (157, 0.06415002990995841),
 (158, 0.06741998624632421),
 (159, 0.06189844605901729),
 (160, 0.06734350297014738),
 (161, 0.032075014954979206),
 (162, 0.0629940788348712),
 (163, 0.024056261216234408),
 (164, 0.08219949365267865),
 (165, 0.022473328748774737),
 (166, 0.049690399499995326),
 (167, 0.1496710850223124),
 (168, 0.10050378152592121),
 (169, 0.11135885079684349),
 (170, 0.041666666666666664),
 (171, 0.13699915608779772),
 (172, 0.06666666666666667),
 (173, 0.023112508176051212),
 (174, 0.07624928516630233),
 (175, 0.07001400420140048),
 (176, 0.0563436169819011),
 (177, 0.0),
 (178, 0.07216878364870322),
 (179, 0.036369648372665396),
 (180, 0.022075539284417398),
 (181, 0.0445435403187374),
 (182, 0.07715167498104596),
 (183, 0.05360562674188974),
 (184, 0.04914731871829904),
 (185, 0.025717224993681984),
 (186, 0.05773502691896257),
 (187, 0.18220272220337372),
 (188, 0.021166687833365082),
 (189, 0.07647191129018724),
 (190, 0.13749298523071757),
 (191, 0.1228682967957476),
 (192, 0.04714045207910317),
 (193, 0.12038585308576918),
 (194, 0.032075014954979206),
 (195, 0.05555555555555555),
 (196, 0.05479966243511909),
 (197, 0.0668153104781061),
 (198, 0.0563436169819011),
 (199, 0.331133089266261),
 (200, 0.034752402342845795),
 (201, 0.0),
 (202, 0.030949223029508643),
 (203, 0.050832856777534886),
 (204, 0.02457365935914952),
 (205, 0.07106690545187014),
 (206, 0.10336227882434039),
 (207, 0.05407380704358751),
 (208, 0.0944911182523068),
 (209, 0.09284766908852593),
 (210, 0.049690399499995326),
 (211, 0.024845199749997663),
 (212, 0.041030496993110906),
 (213, 0.040723148118768406),
 (214, 0.026688025634181187),
 (215, 0.08606629658238703),
 (216, 0.18257418583505536),
 (217, 0.06350006350009524),
 (218, 0.03823595564509362),
 (219, 0.057166195047502935),
 (220, 0.08574929257125441),
 (221, 0.044946657497549475),
 (222, 0.10257624248277726),
 (223, 0.052057920629535355),
 (224, 0.01950685786602176),
 (225, 0.047619047619047616),
 (226, 0.05892556509887895),
 (227, 0.10540925533894598),
 (228, 0.06741998624632421),
 (229, 0.036369648372665396),
 (230, 0.03928371006591931),
 (231, 0.022893427324781505),
 (232, 0.10675210253672475),
 (233, 0.06666666666666667),
 (234, 0.08679260732054925),
 (235, 0.049690399499995326),
 (236, 0.029934217004462485),
 (237, 0.06537204504606134),
 (238, 0.05455447255899809),
 (239, 0.03955938860646177),
 (240, 0.09335200560186731),
 (241, 0.07905694150420949),
 (242, 0.07624928516630233),
 (243, 0.0890870806374748),
 (244, 0.030949223029508643),
 (245, 0.0563436169819011),
 (246, 0.08084520834544431),
 (247, 0.029934217004462485),
 (248, 0.043396303660274624),
 (249, 0.06804138174397717),
 (250, 0.027777777777777776),
 (251, 0.0),
 (252, 0.041344911529736156),
 (253, 0.042333375666730164),
 (254, 0.045360921162651446),
 (255, 0.04914731871829904),
 (256, 0.034752402342845795),
 (257, 0.04914731871829904),
 (258, 0.016265001215808886),
 (259, 0.06189844605901729),
 (260, 0.08838834764831843),
 (261, 0.024056261216234408),
 (262, 0.11556254088025605),
 (263, 0.1),
 (264, 0.0),
 (265, 0.05270462766947299),
 (266, 0.0445435403187374),
 (267, 0.09284766908852593),
 (268, 0.053376051268362375),
 (269, 0.029462782549439476),
 (270, 0.06741998624632421),
 (271, 0.09245003270420485),
 (272, 0.0),
 (273, 0.08606629658238703),
 (274, 0.043193421279068),
 (275, 0.027036903521793755),
 (276, 0.1259881576697424),
 (277, 0.037742567804819854),
 (278, 0.046676002800933654),
 (279, 0.022680460581325723),
 (280, 0.05270462766947299),
 (281, 0.043033148291193514),
 (282, 0.027777777777777776),
 (283, 0.025717224993681984),
 (284, 0.018751465015433733),
 (285, 0.037502930030867465),
 (286, 0.06154574548966636),
 (287, 0.026028960314767677),
 (288, 0.027399831217559546),
 (289, 0.07142857142857142),
 (290, 0.0629940788348712),
 (291, 0.09829463743659808),
 (292, 0.08838834764831843),
 (293, 0.02817180849095055),
 (294, 0.08451542547285165),
 (295, 0.050832856777534886),
 (296, 0.060633906259083235),
 (297, 0.021698151830137312),
 (298, 0.0),
 (299, 0.058520573598065284),
 (300, 0.049690399499995326),
 (301, 0.036588086663230115),
 (302, 0.047619047619047616),
 (303, 0.026688025634181187),
 (304, 0.07513913622228602),
 (305, 0.08206099398622181),
 (306, 0.028583097523751468),
 (307, 0.04811252243246881),
 (308, 0.032075014954979206),
 (309, 0.06537204504606134),
 (310, 0.13867504905630726),
 (311, 0.02457365935914952),
 (312, 0.07537783614444091),
 (313, 0.0),
 (314, 0.0),
 (315, 0.08574929257125441),
 (316, 0.020361574059384203),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0314970394174356),
 (320, 0.06189844605901729),
 (321, 0.0),
 (322, 0.07715167498104596),
 (323, 0.029934217004462485),
 (324, 0.023809523809523808),
 (325, 0.12379689211803457),
 (326, 0.05555555555555555),
 (327, 0.05270462766947299),
 (328, 0.05555555555555555),
 (329, 0.10286889997472794),
 (330, 0.10050378152592121),
 (331, 0.045360921162651446),
 (332, 0.07624928516630233),
 (333, 0.024310831916315757),
 (334, 0.10050378152592121),
 (335, 0.024056261216234408),
 (336, 0.06950480468569159),
 (337, 0.022075539284417398),
 (338, 0.0),
 (339, 0.07905694150420949),
 (340, 0.14586499149789456),
 (341, 0.05143444998736397),
 (342, 0.08986064433619867),
 (343, 0.02021130208636108),
 (344, 0.028583097523751468),
 (345, 0.045360921162651446),
 (346, 0.026028960314767677),
 (347, 0.0),
 (348, 0.05555555555555555),
 (349, 0.09724332766526303),
 (350, 0.050832856777534886),
 (351, 0.0),
 (352, 0.08451542547285165),
 (353, 0.020515248496555453),
 (354, 0.0),
 (355, 0.05735393346764043),
 (356, 0.0563436169819011),
 (357, 0.0),
 (358, 0.08980265101338746),
 (359, 0.1160517706371319),
 (360, 0.0),
 (361, 0.10540925533894598),
 (362, 0.030949223029508643),
 (363, 0.03955938860646177),
 (364, 0.08006407690254357),
 (365, 0.0),
 (366, 0.026028960314767677),
 (367, 0.0),
 (368, 0.05986843400892497),
 (369, 0.07216878364870322),
 (370, 0.05143444998736397),
 (371, 0.048112522432468816),
 (372, 0.024310831916315757),
 (373, 0.0),
 (374, 0.0802572353905128),
 (375, 0.0200643088476282),
 (376, 0.043768810953240846),
 (377, 0.021698151830137312),
 (378, 0.029462782549439476),
 (379, 0.0670025210172808),
 (380, 0.0),
 (381, 0.0890870806374748),
 (382, 0.0),
 (383, 0.044151078568834795),
 (384, 0.11433239009500587),
 (385, 0.027036903521793755),
 (386, 0.06565321642986127),
 (387, 0.026352313834736494),
 (388, 0.022680460581325723),
 (389, 0.1160517706371319),
 (390, 0.026028960314767677),
 (391, 0.05892556509887897),
 (392, 0.08703882797784893),
 (393, 0.05270462766947299),
 (394, 0.024845199749997663),
 (395, 0.0),
 (396, 0.044151078568834795),
 (397, 0.025416428388767443),
 (398, 0.043768810953240846),
 (399, 0.023809523809523808),
 (400, 0.05986843400892497),
 (401, 0.0),
 (402, 0.050832856777534886),
 (403, 0.1259881576697424),
 (404, 0.0),
 (405, 0.057166195047502935),
 (406, 0.0),
 (407, 0.06509445549041193),
 (408, 0.034020690871988585),
 (409, 0.029462782549439476),
 (410, 0.04914731871829904),
 (411, 0.07624928516630233),
 (412, 0.11446713662390753),
 (413, 0.05479966243511909),
 (414, 0.027399831217559546),
 (415, 0.018405254345807753),
 (416, 0.052057920629535355),
 (417, 0.032075014954979206),
 (418, 0.034752402342845795),
 (419, 0.07001400420140048),
 (420, 0.08679260732054925),
 (421, 0.0),
 (422, 0.028583097523751468),
 (423, 0.048112522432468816),
 (424, 0.037742567804819854),
 (425, 0.044151078568834795),
 (426, 0.05212860351426869),
 (427, 0.07715167498104596),
 (428, 0.037986858819879316),
 (429, 0.0),
 (430, 0.025717224993681984),
 (431, 0.049690399499995326),
 (432, 0.046676002800933654),
 (433, 0.029462782549439476),
 (434, 0.023112508176051212),
 (435, 0.06950480468569159),
 (436, 0.0),
 (437, 0.047619047619047616),
 (438, 0.0),
 (439, 0.0),
 (440, 0.0),
 (441, 0.0),
 (442, 0.022893427324781505),
 (443, 0.09938079899999065),
 (444, 0.024056261216234408),
 (445, 0.02457365935914952),
 (446, 0.048621663832631515),
 (447, 0.043033148291193514),
 (448, 0.046225016352102424),
 (449, 0.02817180849095055),
 (450, 0.023570226039551584),
 (451, 0.025416428388767443),
 (452, 0.030949223029508643),
 (453, 0.023570226039551584),
 (454, 0.0445435403187374),
 (455, 0.020833333333333332),
 (456, 0.022075539284417398),
 (457, 0.13699915608779772),
 (458, 0.021516574145596757),
 (459, 0.03333333333333333),
 (460, 0.047619047619047616),
 (461, 0.08838834764831843),
 (462, 0.036588086663230115),
 (463, 0.0),
 (464, 0.0),
 (465, 0.034020690871988585),
 (466, 0.06666666666666667),
 (467, 0.08466675133346033),
 (468, 0.05270462766947299),
 (469, 0.044151078568834795),
 (470, 0.046225016352102424),
 (471, 0.09938079899999065),
 (472, 0.09428090415820634),
 (473, 0.048112522432468816),
 (474, 0.0),
 (475, 0.06622661785325219),
 (476, 0.0314970394174356),
 (477, 0.0),
 (478, 0.053916386601719206),
 (479, 0.034380708208626445),
 (480, 0.047619047619047616),
 (481, 0.0),
 (482, 0.0),
 (483, 0.08838834764831843),
 (484, 0.06189844605901729),
 (485, 0.05479966243511909),
 (486, 0.08211077318035775),
 (487, 0.05986843400892497),
 (488, 0.034752402342845795),
 (489, 0.032075014954979206),
 (490, 0.06415002990995841),
 (491, 0.041996052556580794),
 (492, 0.05986843400892497),
 (493, 0.036369648372665396),
 (494, 0.06537204504606134),
 (495, 0.06666666666666667),
 (496, 0.0),
 (497, 0.0),
 (498, 0.06666666666666667),
 (499, 0.027777777777777776),
 (500, 0.025717224993681984),
 (501, 0.0629940788348712),
 (502, 0.044946657497549475),
 (503, 0.07624928516630233),
 (504, 0.030949223029508643),
 (505, 0.06950480468569159),
 (506, 0.0),
 (507, 0.06350006350009524),
 (508, 0.10540925533894598),
 (509, 0.0629940788348712),
 (510, 0.02457365935914952),
 (511, 0.08219949365267865),
 (512, 0.026352313834736494),
 (513, 0.07372097807744857),
 (514, 0.07453559924999299),
 (515, 0.024056261216234408),
 (516, 0.0),
 (517, 0.041996052556580794),
 (518, 0.06933752452815364),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.046225016352102424),
 (524, 0.029012942659282975),
 (525, 0.022893427324781505),
 (526, 0.0),
 (527, 0.0),
 (528, 0.022680460581325723),
 (529, 0.022680460581325723),
 (530, 0.06189844605901729),
 (531, 0.04578685464956301),
 (532, 0.0),
 (533, 0.027777777777777776),
 (534, 0.036369648372665396),
 (535, 0.05270462766947299),
 (536, 0.023338001400466827),
 (537, 0.06950480468569159),
 (538, 0.0),
 (539, 0.05555555555555555),
 (540, 0.049690399499995326),
 (541, 0.03984095364447979),
 (542, 0.036588086663230115),
 (543, 0.10050378152592121),
 (544, 0.08111071056538127),
 (545, 0.026352313834736494),
 (546, 0.06415002990995841),
 (547, 0.08006407690254357),
 (548, 0.0),
 (549, 0.07142857142857142),
 (550, 0.0),
 (551, 0.06401843996644799),
 (552, 0.0),
 (553, 0.02817180849095055),
 (554, 0.027036903521793755),
 (555, 0.015963771420352522),
 (556, 0.027399831217559546),
 (557, 0.027399831217559546),
 (558, 0.0),
 (559, 0.029934217004462485),
 (560, 0.03928371006591931),
 (561, 0.030429030972509225),
 (562, 0.0314970394174356),
 (563, 0.050251890762960605),
 (564, 0.02817180849095055),
 (565, 0.043396303660274624),
 (566, 0.09428090415820634),
 (567, 0.0),
 (568, 0.05479966243511909),
 (569, 0.09428090415820634),
 (570, 0.03268602252303067),
 (571, 0.020361574059384203),
 (572, 0.08753762190648169),
 (573, 0.020672455764868078),
 (574, 0.022893427324781505),
 (575, 0.025717224993681984),
 (576, 0.053376051268362375),
 (577, 0.053376051268362375),
 (578, 0.037502930030867465),
 (579, 0.029012942659282975),
 (580, 0.022893427324781505),
 (581, 0.09128709291752768),
 (582, 0.0445435403187374),
 (583, 0.13736056394868904),
 (584, 0.041666666666666664),
 (585, 0.023809523809523808),
 (586, 0.041030496993110906),
 (587, 0.09724332766526303),
 (588, 0.025416428388767443),
 (589, 0.045360921162651446),
 (590, 0.030429030972509225),
 (591, 0.048112522432468816),
 (592, 0.06933752452815364),
 (593, 0.0),
 (594, 0.07624928516630233),
 (595, 0.046225016352102424),
 (596, 0.09245003270420485),
 (597, 0.057166195047502935),
 (598, 0.0),
 (599, 0.01567868113972662),
 (600, 0.04578685464956301),
 (601, 0.05),
 (602, 0.04267895997763199),
 (603, 0.048112522432468816),
 (604, 0.06085806194501845),
 (605, 0.0),
 (606, 0.0),
 (607, 0.07647191129018724),
 (608, 0.0),
 (609, 0.043033148291193514),
 (610, 0.07749842582921285),
 (611, 0.021884405476620423),
 (612, 0.06454972243679027),
 (613, 0.034752402342845795),
 (614, 0.026028960314767677),
 (615, 0.0314970394174356),
 (616, 0.034020690871988585),
 (617, 0.025717224993681984),
 (618, 0.08268982305947231),
 (619, 0.04914731871829904),
 (620, 0.0),
 (621, 0.06666666666666667),
 (622, 0.020998026278290397),
 (623, 0.04267895997763199),
 (624, 0.06666666666666667),
 (625, 0.0),
 (626, 0.027036903521793755),
 (627, 0.10425720702853739),
 (628, 0.04914731871829904),
 (629, 0.048112522432468816),
 (630, 0.023809523809523808),
 (631, 0.024056261216234408),
 (632, 0.0),
 (633, 0.042333375666730164),
 (634, 0.048621663832631515),
 (635, 0.0222717701593687),
 (636, 0.08219949365267865),
 (637, 0.0),
 (638, 0.0),
 (639, 0.023338001400466827),
 (640, 0.04914731871829904),
 (641, 0.0),
 (642, 0.029462782549439476),
 (643, 0.07071067811865475),
 (644, 0.050832856777534886),
 (645, 0.06741998624632421),
 (646, 0.10675210253672475),
 (647, 0.0),
 (648, 0.0),
 (649, 0.09622504486493763),
 (650, 0.05270462766947299),
 (651, 0.04714045207910317),
 (652, 0.0),
 (653, 0.034752402342845795),
 (654, 0.06108472217815261),
 (655, 0.023809523809523808),
 (656, 0.0),
 (657, 0.052999894000318),
 (658, 0.04714045207910317),
 (659, 0.07624928516630233),
 (660, 0.0629940788348712),
 (661, 0.06108472217815261),
 (662, 0.0),
 (663, 0.0),
 (664, 0.09284766908852593),
 (665, 0.07071067811865475),
 (666, 0.050251890762960605),
 (667, 0.0),
 (668, 0.05986843400892497),
 (669, 0.0),
 (670, 0.0),
 (671, 0.022893427324781505),
 (672, 0.027036903521793755),
 (673, 0.0),
 (674, 0.022893427324781505),
 (675, 0.045360921162651446),
 (676, 0.05986843400892497),
 (677, 0.025125945381480302),
 (678, 0.05802588531856595),
 (679, 0.0),
 (680, 0.024056261216234408),
 (681, 0.0),
 (682, 0.0),
 (683, 0.04714045207910317),
 (684, 0.0),
 (685, 0.032075014954979206),
 (686, 0.06415002990995841),
 (687, 0.050832856777534886),
 (688, 0.022473328748774737),
 (689, 0.04714045207910317),
 (690, 0.048112522432468816),
 (691, 0.1126872339638022),
 (692, 0.0222717701593687),
 (693, 0.0),
 (694, 0.08679260732054925),
 (695, 0.09622504486493762),
 (696, 0.0401286176952564),
 (697, 0.07808688094430302),
 (698, 0.044151078568834795),
 (699, 0.0),
 (700, 0.0563436169819011),
 (701, 0.0),
 (702, 0.04578685464956301),
 (703, 0.0),
 (704, 0.021884405476620423),
 (705, 0.04578685464956301),
 (706, 0.07216878364870322),
 (707, 0.06415002990995841),
 (708, 0.04914731871829904),
 (709, 0.03984095364447979),
 (710, 0.044151078568834795),
 (711, 0.08703882797784893),
 (712, 0.023809523809523808),
 (713, 0.0),
 (714, 0.0),
 (715, 0.09128709291752768),
 (716, 0.05802588531856595),
 (717, 0.06454972243679027),
 (718, 0.021516574145596757),
 (719, 0.03928371006591931),
 (720, 0.0),
 (721, 0.06189844605901729),
 (722, 0.04578685464956301),
 (723, 0.0),
 (724, 0.06868028197434452),
 (725, 0.02817180849095055),
 (726, 0.0),
 (727, 0.03494282789073061),
 (728, 0.046225016352102424),
 (729, 0.0),
 (730, 0.09147021665807528),
 (731, 0.07293249574894728),
 (732, 0.04714045207910317),
 (733, 0.041996052556580794),
 (734, 0.07293249574894728),
 (735, 0.022473328748774737),
 (736, 0.030429030972509225),
 (737, 0.048621663832631515),
 (738, 0.06415002990995841),
 (739, 0.03553345272593507),

In [77]:
def recommend(movie_name):
    # Get an Index of the Movie
    f=0
    # Here we take an "Index" of the movie not "Id" of the movie
    
    index=movies_new[movies_new['title']==movie_name].index[0]
    enumerated_array = list(enumerate(similarity_matrix[index]))
    
    # Sort the array based on the values in descending order
    sorted_distance = sorted(enumerated_array, key=lambda x: x[1], reverse=True)
    
    # Get the top five distances with their indices
    top_five_elements = sorted_distance[:6]

    # here index means movie "index" not "id"
    # here value means "Cosine_Similarity_Value", Check it in above cell
    for index,value in top_five_elements:
        if f!=0: # In order to eliminate Same Movie.
            print(movies_new['title'].iloc[index])
        f=1

In [78]:
movie_name='Avatar'
recommend(movie_name)

Aliens vs Predator: Requiem
Titan A.E.
Meet Dave
Independence Day
Aliens

In [79]:
import pickle
pickle.dump(movies_new,open('movie_list.pkl','wb'))
pickle.dump(similarity_matrix,open('similarity.pkl','wb'))

In [80]:
#import pandas as pd

# Assuming 'df' is your DataFrame
#movies_new.to_csv('movies_new.csv', index=False)

### Prediction Using Pickle File

In [81]:
similarity_model=pickle.load(open('similarity.pkl','rb'))

In [82]:
def recommend(movie_name):
    # Get an Index of the Movie
    f=0
    index=movies_new[movies_new['title']==movie_name].index[0]
    enumerated_array = list(enumerate(similarity_model[index]))
    
    # Sort the array based on the values in descending order
    sorted_distance = sorted(enumerated_array, key=lambda x: x[1], reverse=True)
    
    # Get the top five distances with their indices
    top_five_elements = sorted_distance[:6]

    for index,value in top_five_elements:
        if f!=0: # In order to eliminate Same Movie.
            print(movies_new['title'].iloc[index])
        f=1

In [84]:
movie_name='Avatar'
recommend(movie_name)

Aliens vs Predator: Requiem
Titan A.E.
Meet Dave
Independence Day
Aliens

### Experiment for Fetch Poster

In [87]:
movies_new.head()

,id,title,tags
0,19995,Avatar,"22nd centuri , parapleg marin dispatch moon pa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa , long believ dead , come bac..."
2,206647,Spectre,cryptic messag bond ’ past send trail uncov si...
3,49026,The Dark Knight Rises,"follow death district attorney harvey dent , b..."
4,49529,John Carter,"john carter war-weari , former militari captai..."

### Find Movie Id Given Movie index

In [122]:
# Movie Index given
movie_index=2

In [123]:
movies_new['id']

0        19995
1          285
2       206647
3        49026
4        49529
         ...
4801      9367
4802     72766
4803    231617
4804    126186
4805     25975
Name: id, Length: 4806, dtype: int64

In [124]:
movie_id=movies_new[movies_new.index==movie_index]['id']
movie_id

2    206647
Name: id, dtype: int64

In [125]:
np.array(movie_id)

array([206647], dtype=int64)

In [126]:
np.array(movie_id)[0]

206647

In [127]:
# Work Properly
movie_id = movies_new.loc[movie_index, 'id']
movie_id

206647